.sidebar {
  width: 280px;
  min-width: 280px;
  height: 100vh;

  padding: 24px;

  background: #fff;
  border-right: 1px solid #E5E7EB;

  display: flex;
  flex-direction: column;
}

.sidebar-header {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 28px;
}

.sidebar-logo {
  width: 48px;
  height: 48px;

  border-radius: 50%;

  background: #3B82F6;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-title-main {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-subtitle {
  margin: 4px 0 0;
  color: #6B7280;
  font-size: 15px;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.sidebar-category-title {
  margin-top: 30px;
  margin-bottom: 10px;

  font-size: 13px;
  font-weight: 700;
  color: #6B7280;

  letter-spacing: 1px;
}

.sidebar-categories {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
