.main-content {
  padding: 32px;
  transition: margin-left 0.3s;
}

.main-content.sidebar-open {
  margin-left: 280px;
}

.main-content.sidebar-closed {
  margin-left: 70px;
}

@media (max-width: 767.98px) {
  .main-content,
  .main-content.sidebar-open,
  .main-content.sidebar-closed {
    margin-left: 0;
    width: 100%;
    padding: 20px;
  }
}
