.category-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border-radius: 12px;
  cursor: pointer;
  transition: .2s;
}

.category-item:hover {
  background: var(--color-background-hover);
}

.category-item.active {
  background: var(--color-background-active);
}

.category-left {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
}

.category-color {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  flex-shrink: 0;
}

.category-left span:last-child {
  font-size: 15px;
  font-weight: 500;
  color: var(--color-text-primary);
}

.category-quantity {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text-secondary);
}
