.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-background-active-modal);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  background-color: var(--color-background-card);
  padding: 30px;
  border-radius: 10px;
  min-width: 350px;
  text-align: center;
}

.modal button {
  width: 100%;
  padding: 10px;
  margin: 4px 0;
  border: none;
  color: var(--color-btn);
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.delete-all-button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background: var(--color-danger);
  color: var(--color-btn);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
}

.delete-all-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.delete-all-button:hover {
  background: var(--color-btn-danger-all-hover);
}

.cancel-button {
  background: var(--color-btn-cancel);
}

.cancel-button:hover {
  background: var(--color-btn-cancel-hover);
}

.delete-confirm-button {
  background: var(--color-danger-hover);
}

.delete-confirm-button:hover {
  background: var(--color-btn-danger-all-hover);
}
